<!DOCTYPE html>
{% load static i18n %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>{% trans "Klinik - Clinic Website Template" %}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{% static 'img/favicon.ico' %}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap"
          rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css' %} " rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %} " rel="stylesheet">
    <link href="{% static 'lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet"/>

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
<!-- Spinner Start -->
<div id="spinner"
     class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
    <div class="spinner-grow text-primary" style="width: 3rem; height: 3rem;" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<!-- Spinner End -->


<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0 wow fadeIn" data-wow-delay="0.1s">
    <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
        <h1 class="m-0 text-primary"><i class="far fa-hospital me-3"></i>Klinik</h1>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="#home" class="nav-item nav-link">{% trans "Главная" %}</a>
            <a href="#about" class="nav-item nav-link">{% trans "О нас" %}</a>
            <a href="#services" class="nav-item nav-link">{% trans "Услуги" %}</a>
            <a href="#doctors" class="nav-item nav-link">{% trans "Ваш доктор" %}</a>
            <a href="#contacts" class="nav-item nav-link">{% trans "Контакты" %}</a>
            <form class="nav-item nav-link"  action="{% url 'set_language' %}" method="post">{% csrf_token %}
                <input name="next" type="hidden" value="{{ redirect_to }}"/>
                <select name="language">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                selected="selected"{% endif %}>
                            {{ language.name_local }} ({{ language.code }})
                        </option>
                    {% endfor %}
                </select>
                <input type="submit" value="{% trans 'Change' %}"/>
            </form>
        </div>
    </div>
</nav>
<!-- Navbar End -->

<!-- Header Start -->
<div class="container-fluid header bg-primary p-0 mb-5" id="home">
    <div class="row g-0 align-items-center flex-column-reverse flex-lg-row">
        <div class="col-lg-6 p-5 wow fadeIn" data-wow-delay="0.1s">
            <h1 style="font-size: 40px" class="display-4 text-white mb-5">{% blocktrans %} Здоровье - одна из высших человеческих ценностей, источник счастья, радости, залог оптимальной реализации личности {% endblocktrans %}</h1>
        </div>
        <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
            <div class="owl-carousel header-carousel">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="">
                    <div class="owl-carousel-text">
                        <h1 style="font-size: 40px" class="display-1 text-white mb-0">{% trans "Кардиология" %}</h1>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{% static 'img/carousel-2.jpg' %}" alt="">
                    <div class="owl-carousel-text">
                        <h1 style="font-size: 40px" class="display-1 text-white mb-0">{% trans "Неврология" %}</h1>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="{% static 'img/carousel-3.jpg' %}" alt="">
                    <div class="owl-carousel-text">
                        <h1 style="font-size: 40px" class="display-1 text-white mb-0">{% trans "Легочный" %}</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Header End -->


<!-- About Start -->
<div class="container-xxl py-5" id="about">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="d-flex flex-column">
                    <img class="img-fluid rounded w-75 align-self-end" src="{% static 'img/about-1.jpg' %}" alt="">
                    <img class="img-fluid rounded w-50 bg-white pt-3 pe-3" src="{% static 'img/about-2.jpg' %}" alt=""
                         style="margin-top: -25%;">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <p class="d-inline-block border rounded-pill py-1 px-4">{% trans "О нас" %}</p>
                <h1 class="mb-4">{% trans "Почему вы должны доверять нам? Узнайте о нас!" %}</h1>
                <p>{% blocktrans %}Медицинский центр работает в формате универсальной семейной клиники. В сферу нашей деятельности входят все виды медицинской помощи: диагностика, лечение, восстановление и профилактика.{% endblocktrans %}
             </p>
                <p class="mb-4">{% blocktrans %}Прием пациентов ведут квалифицированные врачи, за плечами которых длительная практика и широкие знания в своей сфере. В штате медицинских центров работают врачи высшей категории, 40 кандидатов медицинских наук, 4 доктора медицинских наук и 2 профессора.{% endblocktrans %}</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>{% trans "Качественное здравоохранение" %}</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>{% trans "Только квалифицированные врачи" %}</p>
                <p><i class="far fa-check-circle text-primary me-3"></i>{% trans "Специалисты в области медицинских исследований" %}</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<!-- Service Start -->
<div class="container-xxl py-5" id="services">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">{% trans "Услуги" %}</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                         style="width: 65px; height: 65px;">
                        <i class="fa fa-heartbeat text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">{% trans "Современное оборудование" %}</h4>
                    <p class="mb-4">{% blocktrans %}Современное высокотехнологичное диагностическое оборудование. Мы предлагаем пациентам разные виды исследований: УЗИ (3-D, 4-D), эндоскопия, ЭКГ, ЭЭГ, РЭГ, ЭхоЭГ и др.{% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                         style="width: 65px; height: 65px;">
                        <i class="fa fa-x-ray text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">{% trans "Комфортный стационар" %}</h4>
                    <p class="mb-4">{% blocktrans %}Мы сделали все, чтобы пребывание в стационаре было комфортным, и вы чувствовали себя как дома. Как показывает практика, риск развития послеоперационных осложнений в 1,5 - 2 раза ниже, чем в традиционных больничных условиях. {% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                         style="width: 65px; height: 65px;">
                        <i class="fa fa-brain text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">{% trans "4-е филиала по всему городу Бишкек" %}</h4>
                    <p class="mb-4">{% blocktrans %}Поликлиника - Байтик Баатыра, 59 Центр пластической хирургии - Геологический переулок, 19 Филиал офтальмологии и оториноларингологии - Токтоналиева, 40/1· Хирургический центр - ​ Проспект Жибек-Жолу, 388 {% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                         style="width: 65px; height: 65px;">
                        <i class="fa fa-wheelchair text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">{% trans "Опытные врачи разного профиля" %}</h4>
                    <p class="mb-4">{% blocktrans %}Прием пациентов ведут квалифицированные врачи. В штате работают 16 врачей высшей категории, 9 кандидатов медицинских наук, 6 докторов медицинских наук и 5 профессоров. {% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                         style="width: 65px; height: 65px;">
                        <i class="fa fa-heartbeat text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">{% trans "Уникальные операции" %}</h4>
                    <p class="mb-4">{% blocktrans %}Это амбулаторные, стационарные вмешательства, которые проводятся как в плановом, так и в экстренном режиме. Центр хирургии включает несколько современных операционных, отделение реанимации, а также хирургический стационар. {% endblocktrans %}</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item bg-light rounded h-100 p-5">
                    <div class="d-inline-flex align-items-center justify-content-center bg-white rounded-circle mb-4"
                         style="width: 65px; height: 65px;">
                        <i class="fa fa-vials text-primary fs-4"></i>
                    </div>
                    <h4 class="mb-3">{% trans "Удобная охраняемая парковка" %}</h4>
                    <p class="mb-4">{% blocktrans %}Время – это, пожалуй, одно из самых ценных и важных достояний каждого человека. Мы это прекрасно осознаем и поэтому организовали удобную бесплатную парковку на территории медицинского центра, более чем на 30 машин. {% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


<!-- Feature Start -->
<div class="container-fluid bg-primary overflow-hidden my-5 px-lg-0" id="doctors">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">
            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.1s">
                <div class="p-lg-5 ps-lg-0">
                    <p class="d-inline-block border rounded-pill text-light py-1 px-4">{% trans "Функции" %}</p>
                    <h1 class="text-white mb-4">{% trans "Почему нужно выбрать нас" %}</h1>
                    <p class="text-white mb-4 pb-2">{% blocktrans %}Мы стараемся сделать посещение медицинского центра комфортным для каждого пациента. Филиалы работают по удобному графику, у нас нет очередей. Персонал клиники — вежливые и деликатные сотрудники. {% endblocktrans %}</p>
                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                     style="width: 55px; height: 55px;">
                                    <i class="fa fa-user-md text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="text-white mb-2">{% trans "Опыт" %}</p>
                                    <h5 class="text-white mb-0">{% trans "Врачи" %}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                     style="width: 55px; height: 55px;">
                                    <i class="fa fa-check text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="text-white mb-2">{% trans "Качество" %}</p>
                                    <h5 class="text-white mb-0">{% trans "Услуги" %}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                     style="width: 55px; height: 55px;">
                                    <i class="fa fa-comment-medical text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="text-white mb-2">{% trans "Положительный" %}</p>
                                    <h5 class="text-white mb-0">{% trans "Консультация" %}</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-light"
                                     style="width: 55px; height: 55px;">
                                    <i class="fa fa-headphones text-primary"></i>
                                </div>
                                <div class="ms-4">
                                    <p class="text-white mb-2">{% trans "24 часа" %}</p>
                                    <h5 class="text-white mb-0">{% trans "Поддерживать" %}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 pe-lg-0 wow fadeIn" data-wow-delay="0.5s" style="min-height: 400px;">
                <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/feature.jpg' %}"
                         style="object-fit: cover;" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->


<!-- Team Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <p class="d-inline-block border rounded-pill py-1 px-4">{% trans "Врачи" %}</p>
        </div>
        <div class="row g-4 justify-content-evenly">
            {% for doctor in doctors %}
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item position-relative rounded overflow-hidden">
                        <div class="overflow-hidden">
                            <img class="img-fluid" src="{{ doctor.img.url }}" alt="">
                        </div>
                        <div class="team-text bg-light text-center p-5 ">
                            <h5>{{ doctor.name }}</h5>
                            <p class="text-primary">{{ doctor.position }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Team End -->


<!-- Appointment Start -->
<div class="container-xxl py-5" id="contacts">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <p class="d-inline-block border rounded-pill py-1 px-4">{% trans "Назначение" %}</p>
                <h1 class="mb-4">{% trans "Запишитесь на прием к нашему врачу" %}</h1>
                <p class="mb-4">{% blocktrans %}Здесь вы можете получить консультацию специалистов различного профиля, прием ведется авторами: докторами медицинских наук, профессорами, отличниками здравоохранения и врачами высших и первая категория. А также, мы предоставляем широкий спектр услуг в области эстетической, пластической, эндоскопическая хирургия и микрохирургия глаза. Одним из приоритетов нашей клиники является профессиональное медицинская помощь стала доступнее. Мы создали все условия для скорейшего выздоровления каждого пациент. Ваше здоровье - наша забота" {% endblocktrans %}</p>
                <div class="bg-light rounded d-flex align-items-center p-5 mb-4">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
                         style="width: 55px; height: 55px;">
                        <i class="fa fa-phone-alt text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">{% trans "Позвоните нам сейчас" %}</p>
                        <h5 class="mb-0">+996700 700 700</h5>
                    </div>
                </div>
                <div class="bg-light rounded d-flex align-items-center p-5">
                    <div class="d-flex flex-shrink-0 align-items-center justify-content-center rounded-circle bg-white"
                         style="width: 55px; height: 55px;">
                        <i class="fa fa-envelope-open text-primary"></i>
                    </div>
                    <div class="ms-4">
                        <p class="mb-2">{% trans "Напишите нам сейчас" %}</p>
                        <h5 class="mb-0">info@example.com</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-light rounded h-100 d-flex align-items-center p-5">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                {{ form.name }}
                            </div>
                            <div class="col-12 col-sm-6">
                                {{ form.email }}
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date" data-target-input="nearest">
                                    {{ form.weeks }}
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="time" id="time" data-target-input="nearest">
                                    {{ form.time }}
                                </div>
                            </div>
                            <div class="col-12">
                                {{ form.messages }}
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3"
                                        type="submit">{% trans "Записаться на прием" %}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->

<!-- Footer Start -->
<div class="container-fluid bg-dark text-light footer mt-5 pt-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">{% trans "Адрес" %}</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Bishkek</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+996700 700 700</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social rounded-circle" href="#ссылка"><i
                            class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle" href="#ссылка"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle" href="#ссылка"><i
                            class="fab fa-youtube"></i></a>
                    <a class="btn btn-outline-light btn-social rounded-circle" href="#ссылка"><i
                            class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <h5 class="text-light mb-4">{% trans "Меню" %}</h5>
                <a href="#home" class="nav-item nav-link">{% trans "Главная" %}</a>
                <a href="#about" class="nav-item nav-link">{% trans "О нас" %}</a>
                <a href="#services" class="nav-item nav-link">{% trans "Услуги" %}</a>
                <a href="#doctors" class="nav-item nav-link">{% trans "Ваш Доктор" %}</a>
                <a href="#contacts" class="nav-item nav-link">{% trans "Контакты" %}</a>
            </div>

            <div class="col-lg-4 col-md-6">
                <h5 class="text-light mb-4">{% trans "Новостная рассылка" %}</h5>
                <form action="{% url 'create_subscription' %}" method="post">
                    {% csrf_token %}
                    <div class="position-relative mx-auto" style="max-width: 400px;">
                        {{ subscription.email }}
                        <button type="submit"
                                class="btn btn-primary  position-absolute top-0 end-0">{% trans "Отправить" %}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="copyright">
            <div class="row">
                <div class="col-md-12 text-center mb-3 mb-md-0">
                    &copy; <a class="border-bottom " href="#">{% trans "Имя вашего сайта. Все права защищены." %} </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->


<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>


<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'lib/wow/wow.min.js' %} "></script>
<script src="{% static 'lib/easing/easing.min.js' %} "></script>
<script src="{% static 'lib/waypoints/waypoints.min.js' %} "></script>
<script src="{% static 'lib/counterup/counterup.min.js' %} "></script>
<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %} "></script>
<script src="{% static 'lib/tempusdominus/js/moment.min.js' %} "></script>
<script src="{% static 'lib/tempusdominus/js/moment-timezone.min.js' %} "></script>
<script src="{% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js' %} "></script>

<!-- Template Javascript -->
<script src="{% static 'js/main.js' %}"></script>
</body>

</html>